streamlit
pandas
openai
scikit-learn
matplotlib
seaborn
numpy==1.26.4
spacy==3.7.4
thinc==8.2.3
https://github.com/explosion/spacy-models/releases/download/it_core_news_sm-3.7.0/it_core_news_sm-3.7.0-py3-none-any.whl
